
    /* global style */
    body {
        font-family:arial,sans-sarif;
        margin: 15px;;
        padding: 40;
    }
    /* header style */
    header {
        background-color: blueviolet;
        color:black;
        padding: 20px;
    }
    header h1 {
        margin: 0;
    }
/* navigation style */
nav {
    background-color:black;
    padding: 10px;
}    
nav ul {
    list-style-type: none;
padding: 0;}
nav ul li{
    display:inline-block;
    margin-right: 80px;
}
nav ul li a {
    color:rgb(230, 247, 230);
    text-decoration: none;
}
/* section style */
    section {
        padding: 20px;
    }
    footer{

        background-color: aquamarine;
    color: blueviolet;
    padding: 10px;
    text-align: center;
    }
    .card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height:100px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        padding: 32px;
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      }
      
      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        color: #e8e8e8;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      }
      
      .content .heading {
        font-weight: 700;
        font-size: 32px;
      }
      
      .content .para {
        line-height:inherit;
      }
      
      .content .btn {
        color: #e8e8e8;
        text-decoration: none;
        padding: 10px;
        font-weight: 60;
        border: none;
        cursor: pointer;
        background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
      
      .card::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
        z-index: -1;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
      }
      
      .card:hover::before {
        height: 100%;
      }
      
      .card:hover {
        box-shadow: none;
      }
      
      .card:hover .btn {
        color: #212121;
        background: #e8e8e8;
      }
      
      .content .btn:hover {
        outline: 2px solid #e8e8e8;
        background: transparent;
        color: #e8e8e8;
      }
      
      .content .btn:active {
        box-shadow: none;
      }
      

